@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/* BOX SIZING */

html{
    box-sizing: border-box;
}

*,*:before,*:after{
    box-sizing: inherit;
}

body{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto',sans-serif;
    overflow-x: hidden;
    color: #363636;
    
}

header{
    margin: 0 auto;
    padding-bottom: 5vh;
    top: 0;
    height: auto;
    background-color: #ffffff;
    position: sticky;
}
.navbar{
    display: flex;
    flex-direction: row;
}

a{
    text-decoration: none;
}
*/
/* VERSIÓN MOBILE */
.nav-mobile{
    display: flex;
   
}
.nav-link{
    display: none;
}

/* Menú Hamburguesa */

#nav-mobile{
    display: flex;
    cursor: pointer; 
}
.nav-mobile ul{
    display: none;
    position: relative;
    min-width: 30vw;

}
.nav-mobile ul li{
    position: relative;
    list-style: none;
    margin: 5px;
}
.nav-mobile > li{
    float: left;
    padding: 5%;
    display: block;
    font-family: 'Roboto',sans-serif;
    
}

.nav-mobile li:hover >ul{
    display: block;
}
/* VENTANA MODAL PARA INICIAR SESIÓN */
.iniciar{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 2% 0 2% 0;
    padding: 10% 2%;
    background-color:#2da7a7;
    border-radius: 3px;
    width: 25rem;
    height: auto;
    justify-content: center;
    
    
}
.username,.password, .iniciar h4{
    display: flex;
    margin: 2% 0 2% 0;
    justify-content: center;
}

.close{ 
    position: relative;
    margin: 12%;
    padding: 20%;
    top: 50px; 
}

.user{
    display: flex;
    width: 20px;
    height: 20px;
    
}

.hide{
    display: none;
}

.close{
    cursor: pointer;
}

.button{
    display: flex;
    background-color: rgba(247, 184, 23, 0.9);
    margin: 5% auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    height: 5vh;
    align-items: center;
    justify-content: center;
    font-style: bolder; 
    font-size: 1rem;
    
    
}
/* SECCIÓN HERO */

/* Fondo de Hero */
.portada{ 
    display: flex;
    flex-direction: column;
    background-image: url(Imagenes/taxi.jpg);
    background-size: cover;
    height: 150vh;
    background-position: center bottom;   
}
.hero-desktop-hide{
    display: none;
}
.portada-mobile{
    display: flex;
    background-color: #f7b617;
    justify-content: flex-start;
    flex-direction: column;
    margin: 30%;
    padding: 10%;
    right: 100%;
    width: 70vw;
    height: 50vh;
    font-weight: bolder;
}


/* SECCIÓN DE INFORMACIÓN */
.info{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 120vh;
    background-color: #f7b617;
}

.info-desktop-hide{
    display: none;
}

.info2-mobile{
    
    margin:  10%;
    padding: 5%;
    border: solid 3px #ffffff;
    width: auto;
    height: auto;
    align-content: center;
    
}
.info2-mobile h1{
    text-align: center;
    margin: 5% auto;
}

.info2-mobile h1 img{
    display: block;
    margin: 5% auto;
        
}
.info-mobile{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin:  0% auto 0%;
}


/* SECCIÓN DE CONDUCTOR*/
.conductor{
    display: flex;
    background-image: url(Imagenes/conduce.jpg);
    background-size: cover;
    background-position: center right;
    position: static;
    height: 120vh;   
}
.cond-desktop{
    display: none;
}
.cond-mobile{
    display: block;
    position: relative;
    top: 20%;
    right: 15%;
    margin:  10% auto;
    padding: 2%;
    background-color: rgba(0, 0,0, 0.5)
    width: 60%;
    height: 30%;
    align-content: center; 
}

/* SECCIÓN DE TARIFAS */
.tarifas{
    background-color: #f7b617;
    margin: 0% 0% 2% auto;
    padding: 2%;

}

.ubicacion{
    display: flex;
    flex-direction: row;
    margin: 2% 0% 2% 0%;
    padding: 0%;
}

.boton-ubic{
    background: transparent;
    border: solid 1px #ffffff;
    margin: 0% 1%;
    width: 50%;
    font-style: #ffffff;
    border-radius: 10px;
}

.button3{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    border:none;
    font-weight: bolder;
    width: auto;
    height: auto;
    margin: 0% auto;
    border-radius: 5px;
    font-family: 'Roboto',sans-serif;

}
/* SECCIÓN FOOTER */
.footer{
    background-color: #363636;
}
.footer ul li{
    list-style: none;
}
.apps-footer{
    display: flex;
    flex-flow: column wrap;
}

/* SECCIÓN MODAL DE CONDUCTOR */
.driver{
    background-color: #696969a9;
    width: auto;
    height:100vh;
    margin: 10px;
    padding: 20px;
    display: block;
    justify-content: center;
    align-items: center;
}

.vehicle{
    justify-content: center;
    display: block;
    margin: 2% auto;
    width: 40vw;
    height: 5vh;
}

.button-send{
    display: flex;
    background-color: rgba(77, 210, 250, 0.9);
    margin: 5% auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    height: 5vh;
    align-items: center;
    justify-content: center;
    font-style: bolder; 
    font-size: 1rem;
    color: rgb(255, 255, 255);
}

#close2{ 
    position: relative;
    margin: 10%;
    padding: 85%;
    top: 50px; 
}
ul{
    margin: 0;
    padding: 0;
}

.socials{
    display: flex;
    flex-direction: column;
    align-items: flex-end;   
}

/* VERSIÓN DESKTOP */
/* Navbar */

@media only screen and (min-width: 768px){
    .nav-mobile-hide{
        display: none;        
    }    
    
    .nav-link{
        display: flex;
    }
    .nav-desktop-hide{
        display: flex;
        flex-direction: row;
        
    }

/* Sección de Hero */
    #mobile-hero{
        display:none;
    }
    #hero-desktop{
        display: flex;
        background-color: #f7b617;
        justify-content: flex-start;
        flex-direction: column;
        margin: 30%;
        padding: 5%;
        right: 100%;
        width: 70vw;
        height: 60vh;
        
        font-weight: bolder;
        }

/* Sección de información */

    .info2-mobile{
        display:none;
    }
    .info-desktop-hide{
        display: flex;
        flex-direction: row;
    }
    .imgcel-desktop{
        display: flex;
    }
/* Sección de conductor */

    .cond-mobile{
        display:none;
    }
    .cond-desktop{
        display: block;
        position: relative;
        top: 5%;
        left: 20%;
        margin:  10% auto;
        padding: 15% 0 0 0;
        width: 40%;
        height: 30%;
        align-content: center; 
    }

 }