@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/* BOX SIZING */

html{
    box-sizing: border-box;
}

*,*:before,*:after{
    box-sizing: inherit;
}

body{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto',sans-serif;
    overflow-x: hidden;
    
}

header{
    margin: 0 auto;
    padding-bottom: 10vh;
    top: 0;
    height: auto;
    background-color: #ffffff;
    position: sticky;
}
section, nav{
    width: 100vw;
    margin: 0 auto;
}

nav{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
*/


/* MENÚ HAMBURGUESA */

.menu-mobile i {
    border-width: 0.1rem;
    border-radius: 0.3rem;
    padding: 0.3rem;

}
.menu-mobile{
    display: flex;
    order: -1;
    cursor: pointer; 
}
.menu-mobile ul{
    display: none;
    position: absolute;
    min-width: 30vw;

}
.menu-mobile ul li{
    position: relative;
    list-style: none;
    margin: 5px;
}
.menu-mobile > li{
    float: left;
    padding: 5%;
    display: block;
    font-family: 'Roboto',sans-serif;
    
}

.menu-mobile li:hover >ul{
    display: block;
}

.menu-mobile li a{
    color: #363636;
    text-decoration: none;
    
}

.menu-mobile li a:hover{
    background-color: #f7b617;
    height: 50px;
}

/* VENTANA MODAL PARA INICIAR SESIÓN */
.iniciar{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 2% 0 2% 0;
    padding: 10% 2%;
    background-color:#2da7a7;
    border-radius: 3px;
    width: 20rem;
    height: auto;
    justify-content: center;
    position: static
    
}
.username,.password, .iniciar h4{
    display: flex;
    margin: 2% 0 2% 0;
    justify-content: center;
}

.close{ 
    position: relative;
    margin: 37%;
    padding: 10%;
    top: 50px; 
}

.user{
    width: 20px;
    height: 20px;
}

.hide{
    display: none;
}

.close{
    cursor: pointer;
}

.button{
    display: flex;
    background-color: rgba(247, 184, 23, 0.9);
    margin: 5% auto;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 5rem;
    height: auto;
    justify-content: center;
    font-style: bolder; 
    
}

/* PORTADA */

.portada{ 
    display: flex;
    flex-direction: column;
    background-image: url(Imagenes/taxi.jpg);
    background-size: cover;
    width: 100vw;
    height: 200vh;
    position: static;   
}

.portada-mobile{
    display: flex;
    background-color: #f7b617;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin: 30%;
    padding: 10%;
    
    right: 100%;
    width: 70vw;
    height: 50vh;
    position: static;
    font-weight: bolder;
}

/* SECCIÓN DE INFORMACIÓN */
.info{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 120vh;
    background-color: #f7b617;
}
.info2-mobile{
    
    margin:  10% auto 0%;
    border: solid 3px #ffffff;
    width: 60%;
    
    align-content: center;
    
}
.info2-mobile h1{
    text-align: center;
    margin: 5% auto;
}

.info2-mobile h1 img{
    display: block;
    margin: 5% auto;
        
}
.info-mobile{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin:  0% auto 0%;
}

/* SECCIÓN DE CONDUCTOR*/
.conductor{
    display: flex;
    background-image: url(Imagenes/conduce.jpg);
    background-size: cover;
    position: static;
    height: 120vh;   
    
}
.cond-mobile{
    display: block;
    position: relative;
    top: 20%;
    right: 15%;
    margin:  10% auto;
    padding: 2%;
    border: solid 3px #ffffff;
    width: 60%;
    height: 30%;
    
    align-content: center; 
}

/* SECCIÓN DE TARIFAS */
.tarifas{
    background-color: #f7b617;
    margin: 0% 0% 2% auto;
    padding: 2%;

}

.ubicacion{
    display: flex;
    flex-direction: row;
    margin: 2% 0% 2% 0%;
    padding: 0%;
}

.boton-ubic{
    background: transparent;
    border: solid 1px #ffffff;
    margin: 0% 1%;
    width: 50%;
    font-style: #ffffff;
    border-radius: 10px;
}

.button3{
    display: flex;
    background-color: #ffffff;
    border:none;
    font-weight: bolder;
    height: 40px;
    margin: 0% auto;

}
/* SECCIÓN FOOTER */
.footer{
    background-color: #363636;
}
.footer ul li{
    list-style: none;
}
.apps-footer{
    display: flex;
    flex-flow: column wrap;
}

/* SECCIÓN MODAL DE CONDUCTOR */
.driver{
    background-color: #696969a9;
    width: auto;
    height:80vh;
    margin: 10px;
    padding: 20px;
    display: block;;
    justify-content: center;
    align-items: center;
}

.vehicle{
    justify-content: center;
    display: block;
    margin: 2% auto;
    width: 40vw;
    height: 5vh;
}

